{
  "presets": ["es2015-loose", "stage-0", "react"],
  "plugins": ["transform-runtime"],
  "env": {
    "production": {
      "presets": ["es2015-loose", "stage-0", "react", "react-optimize"]
    }
  }
}