:root {
  --form-height: 75px;
  --icon-height: 50px;
}

html {
  color: white;
  background: rgb(38, 38, 38);
}

body {
  margin: 0;
}

form {
  display: block;
  flex-flow: column wrap;
  align-items: flex-start;
  height: var(--form-height);
}

section {
  display: flex;
  flex-flow: row nowrap;
  height: calc(var(--icon-height) * 4);
}

.sm {
  display: flex;
  flex-flow: column nowrap;
}

.sm .social-icon {
}

.lg {
  display: flex;
  flex-flow: row nowrap;
}

.highlight .sm {
  display: flex;
  flex-flow: column nowrap;
}

.highlight .lg {
  display: flex;
  flex-flow: column wrap;
  width: calc(var(--icon-height) * 8);
}

section.highlight {
  height: calc(var(--icon-height) * 8);
  display: flex;
  flex-flow: row nowrap;
}

section * {
  flex: 0 0 auto;
}
