html {
  color: white;
  background: rgb(38, 38, 38);
}

form {
  display: block;
  flex-flow: column wrap;
  align-items: flex-start;
  height: 100px;
}

section {
  display: flex;
  flex-flow: row nowrap;
  height: 200px;
}

.sm {
  display: flex;
  flex-flow: column nowrap;
}

.lg {
  display: flex;
  flex-flow: row nowrap;
}

.highlight .sm {
  display: flex;
  flex-flow: column nowrap;
}

.highlight .lg {
  display: flex;
  flex-flow: column wrap;
  width: 400px;
}

section.highlight {
  height: 400px;
  display: flex;
  flex-flow: row nowrap;
}
